body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{

    font-weight:bold;
}
label{
    padding-right:4px;
}

.listHolder {
    width: 50px;
    display: flex;
    flex-direction: row;
}
