@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Taylor Anderson's Groovy Website";
}


<h1>Taylor Anderson</h1>

<img src="img/motorcycle.jpg" style="width:504px;height:672px;" />

<p>I want to increase my ability to program. I would love to be able to create functional, interactive, and good looking websites. I also want to work on my ability to be a great team player and leader within my group.  </p>

<p>My top three career choices after graduating</p>
<ul>
    <li>Data Analyist</li>
    <li>Information Systems Consultant</li>
    <li>Mobile App Developer</li>
</ul>





